In [60]:
# Contract Address 0x361385576587888Be3f6A22F4094f791c16d3264
# Account Address 0x4EFA55B7A9837D8D1a76d5e85616C00521F068D0
# API Key 6DYA2JVUIY9UF4IPP4GXGVTN28BPPUKXWR

# https://api-rinkeby.etherscan.io/api?module=account&action=token1155tx&contractaddress=0x361385576587888Be3f6A22F4094f791c16d3264&address=0x4EFA55B7A9837D8D1a76d5e85616C00521F068D0&page=1&offset=100&startblock=0&endblock=99999999&sort=asc&apikey=6DYA2JVUIY9UF4IPP4GXGVTN28BPPUKXWR
#Innitial imports 
import requests
import json
import pandas as pd

In [85]:
#pd.read_json(response_data) read json to a data frame
data = pd.read_json('https://api-rinkeby.etherscan.io/api?module=account&action=token1155tx&contractaddress=0x361385576587888Be3f6A22F4094f791c16d3264&address=0x4EFA55B7A9837D8D1a76d5e85616C00521F068D0&page=1&offset=100&startblock=0&endblock=99999999&sort=asc&apikey=6DYA2JVUIY9UF4IPP4GXGVTN28BPPUKXWR')
#print(data)
data

   status message                                             result
0       1      OK  {'blockNumber': '11175928', 'timeStamp': '1660...
1       1      OK  {'blockNumber': '11176009', 'timeStamp': '1660...
2       1      OK  {'blockNumber': '11176039', 'timeStamp': '1660...
3       1      OK  {'blockNumber': '11176060', 'timeStamp': '1660...

In [ ]:
#pd.DataFrame(data['result'][0], axis=1)          #['to']

In [ ]:
#df_NFA = pd.DataFrame.from_dict(data['result'][0], orient='index').transpose()

#for row in df_NFA:
   # print()

In [89]:
#create dataframe with result data 
df_NFA = pd.DataFrame(data['result'])

In [87]:
#initialize count and i variables to be used in while loop
count = 0
i = 0

#initialize token list 
Token_List = []
#initialize df_token data frame
df_Token = pd.DataFrame()

#while loop iterate through df_NFA dataframe 
while i < len(df_NFA):
    df_result = pd.DataFrame.from_dict(df_NFA['result'][i], orient='index').transpose()
    i += 1
    df_Token = pd.concat([df_Token,df_result])

#reset and drop unneeded index from df
df_Token.reset_index(inplace = True)
df_Token.drop(['index'], axis=1, inplace = True)
df_Token

,blockNumber,timeStamp,hash,nonce,blockHash,transactionIndex,gas,gasPrice,gasUsed,cumulativeGasUsed,input,contractAddress,from,to,tokenID,tokenValue,tokenName,tokenSymbol,confirmations
0,11175928,1660103016,0x1d7f55ab8fe4df80a83bc4faafcb883972049cfa245b...,4,0xce1a6478c35feb9c5a6344757659939f606074c70aef...,4,74926,2500000009,74926,761000,deprecated,0x361385576587888be3f6a22f4094f791c16d3264,0x0000000000000000000000000000000000000000,0x4efa55b7a9837d8d1a76d5e85616c00521f068d0,1,1,,,16864
1,11176009,1660104238,0x2f565f23a7cedb7850cc4ee1b9d7213ae0ccdf49c1e3...,6,0x9e3748ba4bd3b4a82424f018ee0186ef2e76d48c7ef4...,4,60836,2500000010,56036,307300,deprecated,0x361385576587888be3f6a22f4094f791c16d3264,0x4efa55b7a9837d8d1a76d5e85616c00521f068d0,0x3db2d37545c7b89e9a93b8d05c8805a0ccb4780f,1,1,,,16783
2,11176039,1660104689,0xf759336b1ed716812b9604b8ef40d67e14fddb5a75b4...,7,0x18ce901cb15328b9ca9678a80251f9322996b768c89e...,3,74914,2500000011,74914,235727,deprecated,0x361385576587888be3f6a22f4094f791c16d3264,0x0000000000000000000000000000000000000000,0x4efa55b7a9837d8d1a76d5e85616c00521f068d0,0,1,,,16753
3,11176060,1660105005,0x98dbf0ad847d504433d40067b65def67463591dc50dc...,8,0x5d8f4101a81bed9a1a594e74bb2fb348d6de1f3d2910...,4,36424,2500000009,33624,448036,deprecated,0x361385576587888be3f6a22f4094f791c16d3264,0x4efa55b7a9837d8d1a76d5e85616c00521f068d0,0x4efa55b7a9837d8d1a76d5e85616c00521f068d0,0,1,,,16732

In [83]:
#remove uneeded data and reference to and tokenId for token gating 
df_Token[['to','tokenID']]

                                           to tokenID
0  0x4efa55b7a9837d8d1a76d5e85616c00521f068d0       1
1  0x3db2d37545c7b89e9a93b8d05c8805a0ccb4780f       1
2  0x4efa55b7a9837d8d1a76d5e85616c00521f068d0       0
3  0x4efa55b7a9837d8d1a76d5e85616c00521f068d0       0